<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
</head>
<body>
    <h1>Movie Recommendations</h1>

    <form method="post" action="{{ url_for('home') }}">
        <label for="user_input">Enter User ID:</label>
        <input type="text" id="user_input" name="user_input" required>
        <br>
        <input type="submit" value="Get Recommendations">
    </form>

    {% if user_id %}
        <h2>Recommendations for User {{ user_id }}</h2>
        <ul>
            {% for recommendation in recommendations %}
                <li>{{ recommendation }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
